.org {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.org h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(175, 2, 2);
    border-bottom: 0.25rem solid rgb(175, 2, 2);
}

.org img {
    height: 5rem;
    width: 5rem;
    margin: 1rem 1rem 1rem 2.5rem;
}