.org {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.org h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(175, 2, 2);
    border-bottom: 0.25rem solid rgba(175, 2, 2);
}

.org img {
    height: 4rem;
    width: 4rem;
    margin: 1rem 1rem 1rem 2.5rem;
    background-color: rgb(116, 113, 113);
    border-radius: 1rem;
}

.org div {
    display: flex;
    flex-direction: row;
    align-items: center;
}